{% extends 'blog/base.html' %}

{% block content %}
{% for post in posts %}

<div class="post">

    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <p class="text">{{ post.text|linebreaksbr }}</p>
    <div class="row data">
        <div class="col-sm-4">
            <p>Published: {{ post.published_date }}</p>
        </div>
        <div class="col-sm-4">
            <p>Author: {{ post.autor }}</p>
        </div>
    </div>

</div>

<hr>

{% endfor %}
{% endblock %}